h2 {
  font-family: Georgia;
  color: darkgreen;
  font-size: 14px;
}

#introduction {
    text-align: center;
}

.list-plus {
  font-weight: bold;
}

.profile_pic {
    border-radius: 5%;
    margin-right: 25px;
}

.jumbotron {
    display: flex;
    flex-direction: row;
}

#jumbo {
    padding-top: 40px;
    padding-bottom: 25px;
}

.cta_button {
    width: 100px;
    margin-top: 10px;
    border-radius: 15%;
}